.App {
  text-align: center;
}

html {
  padding: 10px;
  font-size: 14px;
}

h1 {
  color: gray;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.PropName {
  font-weight: bold;
  color: #6264A7;
}

.Logo {
  font-size: 45pt;
  color: #6264A7;
}

.Error {
  color: red;
}


/* Change bootstrap default styles */

.btn-group-sm .btn-secondary {
  font-size: 0.75em;
}

.dashboard-deck {
  min-height: 60vh;
  width: 100%;
}

.highlight-link {
  background-color: azure;
  border: 2px solid lightskyblue;
}

.card-list-group {
  border: none;
}

.alert-style {
  max-width: max-content;
}